ContextBasedAccessControlWeb/web/WEB-INF/wsit-accesscontrol.services.AccessControlService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AccessControlService" targetNamespace="http://services.accesscontrol/" xmlns:tns="http://services.accesscontrol/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="login"/>
    <message name="loginResponse"/>
    <message name="getconfig"/>
    <message name="getconfigResponse"/>
    <message name="getwifiid"/>
    <message name="getwifiidResponse"/>
    <portType name="AccessControlService">
        <operation name="login">
            <input message="tns:login"/>
            <output message="tns:loginResponse"/>
        </operation>
        <operation name="getconfig">
            <input message="tns:getconfig"/>
            <output message="tns:getconfigResponse"/>
        </operation>
        <operation name="getwifiid">
            <input message="tns:getwifiid"/>
            <output message="tns:getwifiidResponse"/>
        </operation>
    </portType>
    <binding name="AccessControlServicePortBinding" type="tns:AccessControlService">
        <wsp:PolicyReference URI="#AccessControlServicePortBindingPolicy"/>
        <operation name="login">
            <input/>
            <output/>
        </operation>
        <operation name="getconfig">
            <input/>
            <output/>
        </operation>
        <operation name="getwifiid">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="AccessControlService">
        <port name="AccessControlServicePort" binding="tns:AccessControlServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="AccessControlServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
